@use "../global/variables" as *;
@use "../global/mixins" as *;

.container {
    max-width: 1380px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    
    @media (min-width: 1920px) {
        max-width: 1600px;
    }
    
    @include vp-1023 {
        max-width: 1024px;
        padding: 0 20px;
    }
    
    @include vp-767 {
        max-width: 100%;
        padding: 0 15px;
    }
}