//COLORS
$color-green: #008a57a7;
$color-dark-green: #004b30;
$color-light-green: #e1ffe0;
$color-shadow-green: #72ffcb9c;

$color-black: #000000;
$color-gray: #b4b4b4;
$color-white: #FFFFFF;

// $color-pink:

//FONTS
$ff-play: "Play", sans-serif;

//VIEWPORT
$vp-tablet: 1023px;
$vp-mobile: 767px;


$transition-300: ease-in 0.3s;
