//COLORS
$color-green: #2bc28a;
$color-dark-green: #004b30;
$color-light-green: #b6ffe4;


$color-white: #FFFFFF;

//FONTS
$ff-play: "Play", sans-serif;

//VIEWPORT
$vp-tablet: 1023px;
$vp-mobile: 767px;


$transition-300: ease-in 0.3s;
