//COLORS
// $color-purple-transparent: #008a57a7;
// $color-dark-purple: #004b30;
// $color-light-purple: #e1ffe0;
// $color-shadow-purple: #2ffcb9c;

$color-purple-transparent: #00198aa7;
$color-dark-purple: #04004b;
$color-light-purple: #e0e0ff;
$color-purple: #c3c3fa;
$color-shadow-purple: #7277ff9c;

$color-black: #1a1a1a;
$color-gray: #b4b4b4;
$color-dark-gray: #7b7b7b;
$color-white: #ffffff;

// $color-pink:

//FONTS
$ff-play: "Play", sans-serif;

//VIEWPORT
$vp-tablet: 1023px;
$vp-mobile: 767px;

$transition-300: ease-in 0.3s;
